{% extends "layout.html" %}

{% block scripts %}
<script type="text/javascript">
    // $("#login").click(function(event){
    //     event.preventDefault();
    //     $.post("/api/user/login",
    //         {
    //             username: document.getElementById("username").innerHTML,
    //             password: document.getElementById("password").innerHTML
    //         },
    //         function(data, status){
    //             alert(data);
    //             location.assign("/api/user/login");
    //         });
    // });

    // Code below sends the required header of 'Basic <base64 hash of username and password>'

    // $("#loginform").submit(function(event){
    //     event.preventDefault();
    //     password = $("#password").val()
    //     username = $("#username").val()
    //     alert(username)

    //     $.ajax({
    //         url: "/api/user/login",
    //         // async: true,
    //         // contentType: "application/json",
    //         headers: {"Authorization":"Basic " + btoa(username + ":" + password)},
    //         method: "POST",
    //         cache: false
    //         // dataType: "json",
    //         // beforeSend: function (xhr) {
    //         //     xhr.setRequestHeader("Authorization",
    //         //         "Basic " + btoa(username + ":" + password));
    //         // }
    //         // data: JSON.stringify({'username': username, 'password': password})
    //     });
    //     // alert($(username)
    // });
        
    
</script>

{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-6">
        <div class="container">
            <h4> {{ title }} </h4>
            <div>{{ error }}</div>
            <form id="loginform" class="form-horizontal" role="form" action="{{ url_for('login') }}" method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {% for message in form.username.errors %}
                        <div class="flash"> {{ message }} </div>
                    {% endfor %}

                    <!-- <label class="control-label col-sm-2" for="username">Username</label>  -->
                    <div class="col-sm-6">
                        {{ form.username(class_="form-control",placeholder="Username") }}
                    </div>
                </div>

                <div class="form-group">
                    {% for message in form.password.errors %}
                        <div class="flash"> {{ message }} </div>
                    {% endfor %}

                    <!-- <label class="control-label col-sm-2" for="password">Password</label> -->
                    <div class="col-sm-6">
                        {{ form.password(class_="form-control",placeholder="Password") }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-6">
                        {{ form.login(class_="btn btn-default btn-primary") }} Or
                        <a href="{{ url_for('register') }}"><div class="btn btn-default">Sign up</div></a>
                    </div>
                    <!-- <div>
                        <h4>Or</h4>
                    </div> -->
                    <!-- <div class="col-sm-2">
                        <button type="submit" class="btn btn-default btn-secondary">Sign up</button>
                    </div> -->
                </div>

            </form>
            
        </div>
    </div>
</div>
{% endblock %}