{% extends "layout.html" %}


{% block scripts %}

<script type="text/javascript">
	$("#thumb").click(function() {
		$.post('/api/user/{{f}}/wishlist',
		{
			url: $('input[name="url"]').val()
		},
		function(data, status) {
			$("#result").html(data);
			console.log(data);
			if (status == "success") {
				$(function() {
					$("img").click(function(event){
						$("#thumbnail").val("" + event.target.src);
						$("#result").html(event.target);
						$("#sel").html("");
						$("#thumb").html("");
					});
				});
			}
		});
		$("#sel").html("Click an image to save as your thumbnail (Images might take a few seconds to load).");
	});
</script>
<script type="text/javascript">
	$("#del").click(function(event) {
		// var x = document.getElementById("wlist").querySelectorAll(".rem");
		var remove = event.target.parentNode.previousSibling.previousSibling.previousSibling.previousSibling.firstChild.src;
		console.log(remove)
		// for (var i = 0; i < x.length; i++) {
		// 	if (x[i].src == event.target.parentNode.previousSibling.previousSibling.firstChild.src) {

		// 	}
		// 	alert("" + x[i].src);
		// }
		$.post('/api/user/{{f}}/wishlist',
		{
			wish: remove
		},
		function(data, status) {
			if (status == "success") {
				location.assign('/api/user/{{f}}/wishlist');
			}
		});
	});
</script>
<script type="text/javascript">
	function show() {
		document.getElementById("email_").style.display = "block";
	}
	function hide() {
		document.getElementById("email_").style.display = "none";
	}
</script>

{% endblock %}


{% block content %}

<div class="container">
	<div class="col-sm-6">
		<h1>Wishlist</h1>
		<form class="form-horizontal" role="form" method="POST" action="{{ url_for('wishlist',id=user.id) }}" enctype="multipart/form-data">
			{{ form.hidden_tag() }}
			<div class="form-group">
				<div class="col-sm-6">
					{% for message in form.title.errors %}
		                <div class="field-validation-error"> {{ message }} </div>
		            {% endfor %}
					{{ form.title(class_="form-control",placeholder="Title") }}
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-6">
					{% for message in form.description.errors %}
		                <div class="field-validation-error"> {{ message }} </div>
		            {% endfor %}
					{{ form.description(class_="form-control",placeholder="Description") }}
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-6">
					{% for message in form.url.errors %}
		                <div class="field-validation-error"> {{ message }} </div>
		            {% endfor %}
					{{ form.url(class_="form-control",placeholder="Web link to wishlist item") }}
				</div>
			</div>

			<div id="thumb" class="form-group">
				<div class="col-sm-4">
					<div id="thumb" class="btn btn-default">Retrieve Thumbnail</div>
				</div>
			</div>
			<div id="sel"></div>
			<div class="try" id="result"></div>
			
			<div class="form-group">
				<div class="col-sm-6">
					{{ form.thumbnail }}
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-10">
					{{ form.add(class_="btn btn-default") }}
				</div>
			</div>
		</form>
	</div>

	<div class="col-sm-6" id="test">
		<div class="col-sm-12">
			<h3>{{ user.name }}'s Wishlist</h3>

			<h5 id="h5sha"><button id="edit" onclick="show()" type="button" class="btn btn-primary btn-xs">Share</button> with friends</h5> 
			
			<div id="email_">
				<div class='col-sm-12'>
					<form class='form-horizontal' role='form' method='POST' action='' enctype='multipart/form-data'>
						<div class='form-group'>
							<div class='col-sm-8'>
								{% for message in e_form.name.errors %}
									<div class='field-validation-error'> {{ message }} </div>
								{% endfor %}
								{{ e_form.name(class_="form-control",placeholder="Name") }}
							</div>
						</div>
						<div class='form-group'>
							<div class='col-sm-8'>
								{% for message in e_form.email.errors %}
									<div class='field-validation-error'> {{ message }} </div>
								{% endfor %}
								{{ e_form.email(class_="form-control",placeholder="Email") }}
							</div>
						</div>
						<div class='form-group'>
							<div class='col-sm-3'>
								{{ e_form.send(class_="form-control",onclick="hide()") }}
							</div>
						</div>
					</form>
				</div>
			</div>
			<hr/>
			<div id="wlist">
				<ol>
				{% for i in wishlist %}
					<li>
						<div>
							<h4>{{ i.title }}</h4>
							<div><img class="rem" width="60px" height="60px" src="{{ i.thumbnail }}"></div>
							<p>{{ i.description }}</p>
							<div class="btn-group">
								<!-- <button id="edit" type="button" class="btn btn-primary btn-xs">Share</button> -->
								<!-- <button id="edit" type="button" class="btn btn-primary btn-xs">Edit</button> -->
								<button id="del" type="button" class="btn btn-danger btn-xs">Delete</button>
								
							</div>
						</div>
					</li>
				{% endfor %}
				</ol>
			</div>

		</div>
	</div>
</div>


{% endblock %}