{% extends "base.html" %}


{% block js %}
{% endblock %}


{% block main %}
{% include "nav.html" %}
<div class="container">
	<h1>Wishlist</h1>
	<form class="form-horizontal" role="form" method="POST" action="{{ url_for('wishlist',list_id=f) }}" enctype="multipart/form-data">
		{{ form.hidden_tag() }}
		<div class="form-group">
			<div class="col-sm-4">
				{{ form.title(class_="form-control",placeholder="Title") }}
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-4">
				{{ form.description(class_="form-control",placeholder="Description") }}
			</div>
		</div>
		
		<div class="form-group">
			<div class="col-sm-4">
				{{ form.url(class_="form-control",placeholder="Web link") }}
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-10">
				{{ form.add(class_="btn btn-default") }}
			</div>
		</div>
	</form>
</div>
{% endblock %}